<section class="boots_build_your_way">
    <h2 class="heading kaffeesatz-bold">{{ section.settings.main_heading }}</h2>
    <div class="inner">
        <div class="compare-images">
            <div class="hiddens">
                <img src="{{ section.settings.rebuild_image_before | img_url: '800x' }}">
            </div>
            <div class="img-comp-img">
                <img src="{{ section.settings.rebuild_image_before | img_url: '800x'  }}">
            </div>
            <div class="img-comp-img img-comp-overlay">
                <img src="{{ section.settings.rebuild_image_after | img_url: '800x'  }}">
            </div>
        </div>       
        
        <div class="text-block">
            <h3 class="heading">{{ section.settings.rebuild_heading }}</h3>
            {{ section.settings.rebuild_content }}
            <a href="{{ section.settings.rebuild_link }}" class="btn">{{ section.settings.rebuild_button_label }} <span class="button-arrow"></span></a>
        </div>
        
        <div class="boots-slide">
            <div class="swiper-container-bottom">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                    <div class="swiper-slide">
                        <img src="{{ block.settings.customize_image | img_url: '800x' }}" alt="">
                    </div>
                {% endfor %}
                </div>
                <div class="swiper-pagination-bottom"></div>
            </div>
        </div>
        <div class="text-block">
            <h3 class="heading">{{ section.settings.customize_heading }}</h3>
            {{ section.settings.customize_content }}
            <a href="{{ section.settings.customize_link }}" class="btn">{{ section.settings.customize_button_label }} <span class="button-arrow"></span></a>
        </div>
    </div>
</section>

<script>
    let p = new Swiper(".swiper-container-bottom", {
        pagination: { el: ".swiper-pagination-bottom", type: "progressbar" },
        autoplay: { delay: 4e3 },
        loop: !0,
        slidesPerView: 1,
        navigation: { nextEl: ".swiper-button-next", prevEl: ".swiper-button-prev" },
    });

    var o, c;
    (o = document.getElementsByClassName("img-comp-overlay")),
    setTimeout(() => {
        for (c = 0; c < o.length; c++) t(o[c]);
    }, 100);
    function t(l) {
    var n,
        l,
        d = 0,
        h,
        S;
    (h = l.offsetWidth),
        (S = l.offsetHeight),
        (l.style.width = h / 2 + "px"),
        (n = document.createElement("DIV")),
        n.setAttribute("class", "img-comp-slider"),
        l.parentElement.insertBefore(n, l),
        (n.style.left = h / 2 - n.offsetWidth / 2 + "px"),
        n.addEventListener("mousedown", L),
        window.addEventListener("mouseup", E),
        n.addEventListener("touchstart", L),
        window.addEventListener("touchend", E);
    function L(u) {
        u.preventDefault(), (d = 1), window.addEventListener("mousemove", y), window.addEventListener("touchmove", y);
    }
    function E() {
        d = 0;
    }
    function y(u) {
        var r;
        if (d == 0) return !1;
        (r = w(u)), r < 0 && (r = 0), r > h && (r = h), g(r);
    }
    function w(u) {
        var r,
            b = 0;
        return (u = u.touches ? u.touches[0] : u || window.event), (r = l.getBoundingClientRect()), (b = u.pageX - r.left), (b = b - window.pageXOffset), b;
    }
    function g(u) {
        let r = u - n.offsetWidth / 2;
        r <= n.offsetWidth / 2 && (r = n.offsetWidth / 2), (l.style.width = r + "px"), (n.style.left = l.offsetWidth - n.offsetWidth / 2 + "px");
    }
    }
</script>

{% comment %} {{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}


{%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
  {%- style -%}
  @media screen and (max-width: 749px) {
    #Slider-{{ section.id }}::before,
    #Slider-{{ section.id }} .media::before,
    #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Slider-{{ section.id }}::before,
    #Slider-{{ section.id }} .media::before {
      padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
  }
  {%- endstyle -%}
{%- endif -%}

<slideshow-component class="slider-mobile-gutter{% if section.settings.layout == 'grid' %} page-width{% endif %}{% if section.settings.show_text_below %} mobile-text-below{% endif %}" role="region" aria-roledescription="{{ 'sections.slideshow.carousel' | t }}" aria-label="{{ section.settings.accessibility_info | escape }}">
  {%- if section.settings.auto_rotate and section.blocks.size > 1 -%}
    <div class="slideshow__controls slideshow__controls--top slider-buttons no-js-hidden{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
      <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
        {%- if section.settings.slider_visual == 'counter' -%}
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        {%- else-%}
          <div class="slideshow__control-wrapper">
            {%- for block in section.blocks -%}
              <button class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}" aria-controls="Slider-{{ section.id }}">
                {%- if section.settings.slider_visual == 'numbers' -%}{{ forloop.index }}{% else %}<span class="dot"></span>{%- endif -%}
              </button>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
      <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>

      {%- if section.settings.auto_rotate -%}
        <button type="button" class="slideshow__autoplay slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}" aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}">
          {%- render 'icon-pause' -%}
          {%- render 'icon-play' -%}
        </button>
      {%- endif -%}
    </div>
    <noscript>
      <div class="slider-buttons">
        <div class="slider-counter">
          {%- for block in section.blocks -%}
            <a href="#Slide-{{ section.id }}-{{ forloop.index }}" class="slider-counter__link link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
              {{ forloop.index }}
            </a>
          {%- endfor -%}
        </div>
      </div>
    </noscript>
  {%- endif -%}

  <div class="slideshow banner banner--{{ section.settings.slide_height }} grid grid--1-col slider slider--everywhere{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.blocks.first.settings.image == blank %} slideshow--placeholder{% endif %}"
    id="Slider-{{ section.id }}"
    aria-live="polite"
    aria-atomic="true"
    data-autoplay="{{ section.settings.auto_rotate }}"
    data-speed="{{ section.settings.change_slides_speed }}"
  >
    {%- for block in section.blocks -%}
      <style>
        #Slide-{{ section.id }}-{{ forloop.index }} .banner__media::after {
          opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
        }
      </style>
      <div class="slideshow__slide grid__item grid--1-col slider__slide"
        id="Slide-{{ section.id }}-{{ forloop.index }}"
        {{ block.shopify_attributes }}
        role="group"
        aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
        aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
        tabindex="-1"
      >
        <div class="slideshow__media banner__media media{% if block.settings.image == blank %} placeholder{% endif %}">
          {%- if block.settings.image -%}
            {%- assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round -%}
            {{ block.settings.image | image_url: width: 3840 | image_tag:
              loading: 'lazy',
              height: height,
              sizes: "100vw",
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            }}
          {%- else -%}
            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <div class="slideshow__text-wrapper banner__content banner__content--{{ block.settings.box_align }} page-width{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
          <div class="slideshow__text banner__box content-container content-container--full-width-mobile color-{{ block.settings.color_scheme }} gradient slideshow__text--{{ block.settings.text_alignment }} slideshow__text-mobile--{{ block.settings.text_alignment_mobile }}">
            {%- if block.settings.heading != blank -%}
              <h2 class="banner__heading kaffeesatz {{ block.settings.heading_size }}">{{ block.settings.heading | escape }}</h2>
            {%- endif -%}
            {%- if block.settings.subheading != blank -%}
              <div class="banner__text" {{ block.shopify_attributes }}>
                <span>{{ block.settings.subheading | escape }}</span>
              </div>
            {%- endif -%}
            {%- if block.settings.button_label != blank -%}
              <div class="banner__buttons">
                <a{% if block.settings.link %} href="{{ block.settings.link }}"{% else %} role="link" aria-disabled="true"{% endif %} class="button {% if block.settings.button_style_secondary %}button--secondary{% else %}button--primary{% endif %}">{{ block.settings.button_label | escape }}</a>
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>

  {%- if section.blocks.size > 1 and section.settings.auto_rotate == false -%}
    <div class="slideshow__controls slider-buttons no-js-hidden{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}">
      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
      <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
        {%- if section.settings.slider_visual == 'counter' -%}
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        {%- else-%}
          <div class="slideshow__control-wrapper">
            {%- for block in section.blocks -%}
              <button class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}" aria-controls="Slider-{{ section.id }}">
                {%- if section.settings.slider_visual == 'numbers' -%}{{ forloop.index }}{% else %}<span class="dot"></span>{%- endif -%}
              </button>
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
      <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'sections.slideshow.next_slideshow' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>

      {%- if section.settings.auto_rotate -%}
        <button type="button" class="slideshow__autoplay slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}" aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}">
          {%- render 'icon-pause' -%}
          {%- render 'icon-play' -%}
        </button>
      {%- endif -%}
    </div>
    <noscript>
      <div class="slider-buttons">
        <div class="slider-counter">
          {%- for block in section.blocks -%}
            <a href="#Slide-{{ section.id }}-{{ forloop.index }}" class="slider-counter__link link" aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}">
              {{ forloop.index }}
            </a>
          {%- endfor -%}
        </div>
      </div>
    </noscript>
  {%- endif -%}
</slideshow-component>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%} {% endcomment %}

{% schema %}
{
  "name": "Build Your Way",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "text",
        "id": "main_heading",
        "label": "Main Heading"
    },
    {
        "type": "header",
        "content": "Rebuild Boots"
    },
    {
        "type": "image_picker",
        "id": "rebuild_image_before",
        "label": "Rebuild Image Before"
    },
    {
        "type": "image_picker",
        "id": "rebuild_image_after",
        "label": "Rebuild Image After"
    },
    {
        "type": "text",
        "id": "rebuild_heading",
        "label": "Rebuild Heading"
    },
    {
        "type": "richtext",
        "id": "rebuild_content",
        "label": "Rebuild Content"
    },
    {
        "type": "text",
        "id": "rebuild_button_label",
        "label": "Button Label"
    },
    {
        "type": "url",
        "id": "rebuild_link",
        "label": "Button Link"
    },
    {
        "type": "header",
        "content": "Customize Boots"
    },
    {
        "type": "text",
        "id": "customize_heading",
        "label": "Customize Heading"
    },
    {
        "type": "richtext",
        "id": "customize_content",
        "label": "Customize Content"
    },
    {
        "type": "text",
        "id": "customize_button_label",
        "label": "Button Label"
    },
    {
        "type": "url",
        "id": "customize_link",
        "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "customize_image",
          "label": "Customize Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Build Your Way"
    }
  ]
}
{% endschema %}
