  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}


<div class='catalog-form section-{{ section.id }}-padding'>
<div class="klaviyo-form-XcDPAp klaviyo-form form-version-cid-2">
    <div class="needsclick kl-private-reset-css-Xuajs1" style="transform: translate(0px, 0px);">
        <form
            class="needsclick klaviyo-form klaviyo-form-version-cid_2 kl-private-reset-css-Xuajs1"
            data-testid="klaviyo-form-XcDPAp"
            novalidate=""
            tabindex="-1"
            style="
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                width: 100%;
                overflow: visible;
                max-width: 450px;
                float: left;
                border-radius: 0px;
                border-style: none;
                border-width: 0px;
                border-color: rgb(0, 0, 0);
                background-color: rgb(231, 228, 218);
                background-repeat: no-repeat;
                background-position-y: 50%;
                padding: 30px;
                flex: 1 1 0%;
            "
        >
            <div class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: column; width: 100%; margin: 0px; padding: 0px; min-height: 300px; justify-content: center;">
                <div data-testid="form-row" class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;">
                    <div component="[object Object]" data-testid="form-component" class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px; position: relative; flex: 1 0 0px;">
                        <div class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;">
                            <label
                                id="label-first_name_65294708"
                                for="first_name_65294708"
                                class="needsclick kl-private-reset-css-Xuajs1"
                                style="color: rgb(29, 29, 29); font-family: futura-pt, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;"
                            >
                                First Name*
                            </label>
                            <input
                                id="first_name_65294708"
                                class="needsclick go1946091059 kl-private-reset-css-Xuajs1"
                                type="text"
                                autocomplete="given-name"
                                tabindex="0"
                                placeholder=""
                                aria-labelledby="label-first_name_65294708"
                                aria-invalid="false"
                                options="[object Object]"
                                style="
                                    box-sizing: border-box;
                                    border-radius: 0px;
                                    padding: 0px 0px 0px 16px;
                                    height: 50px;
                                    text-align: left;
                                    color: rgb(29, 29, 29);
                                    font-family: futura-pt, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                                    font-size: 16px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                    background-color: rgba(255, 255, 255, 0);
                                    border: 1px solid rgb(191, 190, 184);
                                "
                            />
                            <div class="needsclick kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div>
                        </div>
                    </div>
                </div>
                <div data-testid="form-row" class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;">
                    <div component="[object Object]" data-testid="form-component" class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px; position: relative; flex: 1 0 0px;">
                        <div class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;">
                            <label
                                id="label-last_name_65294709"
                                for="last_name_65294709"
                                class="needsclick kl-private-reset-css-Xuajs1"
                                style="color: rgb(29, 29, 29); font-family: futura-pt, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;"
                            >
                                Last Name*
                            </label>
                            <input
                                id="last_name_65294709"
                                class="needsclick go1946091059 kl-private-reset-css-Xuajs1"
                                type="text"
                                autocomplete="family-name"
                                tabindex="0"
                                placeholder=""
                                aria-labelledby="label-last_name_65294709"
                                aria-invalid="false"
                                options="[object Object]"
                                style="
                                    box-sizing: border-box;
                                    border-radius: 0px;
                                    padding: 0px 0px 0px 16px;
                                    height: 50px;
                                    text-align: left;
                                    color: rgb(29, 29, 29);
                                    font-family: futura-pt, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                                    font-size: 16px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                    background-color: rgba(255, 255, 255, 0);
                                    border: 1px solid rgb(191, 190, 184);
                                "
                            />
                            <div class="needsclick kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div>
                        </div>
                    </div>
                </div>
                <div data-testid="form-row" class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;">
                    <div component="[object Object]" data-testid="form-component" class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px; position: relative; flex: 1 0 0px;">
                        <div class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;">
                            <label
                                id="label-email_65294710"
                                for="email_65294710"
                                class="needsclick kl-private-reset-css-Xuajs1"
                                style="color: rgb(29, 29, 29); font-family: futura-pt, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;"
                            >
                                Email*
                            </label>
                            <input
                                id="email_65294710"
                                class="needsclick go1946091059 kl-private-reset-css-Xuajs1"
                                type="email"
                                autocomplete="email"
                                name="email"
                                tabindex="0"
                                placeholder=""
                                aria-labelledby="label-email_65294710"
                                aria-invalid="false"
                                options="[object Object]"
                                style="
                                    box-sizing: border-box;
                                    border-radius: 0px;
                                    padding: 0px 0px 0px 16px;
                                    height: 50px;
                                    text-align: left;
                                    color: rgb(29, 29, 29);
                                    font-family: futura-pt, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
                                    font-size: 16px;
                                    font-weight: 400;
                                    letter-spacing: 0px;
                                    background-color: rgba(255, 255, 255, 0);
                                    border: 1px solid rgb(191, 190, 184);
                                "
                            />
                            <div class="needsclick kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div>
                        </div>
                    </div>
                </div>
                <div data-testid="form-row" class="needsclick kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;">
                    <div
                        component="[object Object]"
                        data-testid="form-component"
                        class="needsclick kl-private-reset-css-Xuajs1"
                        style="display: flex; justify-content: flex-start; padding: 8px 30px; position: relative; background-color: rgb(29, 29, 29); flex: 0 1 auto;"
                    >
                        <button
                            class="needsclick go3894874857 kl-private-reset-css-Xuajs1"
                            type="button"
                            tabindex="0"
                            style="
                                background: rgb(29, 29, 29);
                                border-radius: 0px;
                                border-style: none;
                                border-color: rgb(0, 0, 0);
                                border-width: 2px;
                                color: rgb(255, 255, 255);
                                font-family: 'Yanone Kaffeesatz', Tahoma, Verdana, Segoe, sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                letter-spacing: 0px;
                                line-height: 1;
                                white-space: normal;
                                padding: 0px 10px;
                                text-align: center;
                                word-break: break-word;
                                align-self: flex-end;
                                cursor: pointer;
                                height: 30px;
                            "
                        >
                            SUBMIT →
                        </button>
                    </div>
                </div>
            </div>
            <input type="submit" tabindex="-1" value="Submit" style="display: none;" />
        </form>
    </div>
</div>
</div>


  

  
  
  {% schema %}
  {
    "name": "Catalog Form",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Catalog Form"
      }
    ]
  }
  {% endschema %}
  