<product-recommendations
  class="related-products page-width section-{{ section.id }}-padding isolate"
  data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
>
{% if recommendations.performed and recommendations.products_count > 0 %}
  <br>
  
    <div class="product-siblings product-page-block cart-page-siblings clearfix ">
      <h4 class="futura-bold cart-head-title">You might also like</h4>
    </div>

    <div class="catalog-view-display catalog-products checkout-upseller-products clearfix ">
      {% for recommendation in recommendations.products %}
      <div class="catalog-product">
          <a href="{{ recommendation.url }}" class="product-card">
            
            {% if recommendation.metafields.custom.product_page_image_hover != blank %}
              <img class="product-card-image--hover" src="{{ recommendation.metafields.custom.product_page_image_hover | image_url }}">
            {% endif %}
            {% if recommendation.metafields.custom.product_page_image != blank %}
              <img class="product-card-image--main" src="{{ recommendation.metafields.custom.product_page_image | image_url }}">
            {% endif %}
            
              <div class="product-card-content">
                  {% if recommendation.metafields.custom.overview != blank %}
                  <p class="product-last-type futura-book">{{ recommendation.metafields.custom.overview }}</p>
                  {% endif %}
                  <a href="{{ recommendation.url }}"><h6 class="futura-bold product-card-name">{{ recommendation.title }}</h6></a>
                  
                  <div class="product-card-details">
                    <p class="product-price neue-kabel-book-italic">
                      {% render 'price', product: recommendation, price_class: '' %}
                    </p>
                  </div>
              </div>
          </a>
      </div>
      {% endfor %}
    </div>

    <!-- Swiper -->
    <div class="swiper-container swiper-product-upseller hidden">
        <div class="swiper-wrapper">
          {% for recommendation in recommendations.products %}
            <div class="swiper-slide">
              <div class="product-card">
                {% if recommendation.metafields.custom.product_page_image != blank %}
                  <img data-href="{{ recommendation.url }}" src="{{ recommendation.metafields.custom.product_page_image | image_url }}">
                {% endif %}
                  
                <div class="product-card-content">
                  {% if recommendation.metafields.custom.overview != blank %}
                    <p class="product-last-type futura-book">{{ recommendation.metafields.custom.overview }}</p>
                  {% endif %}
                    <h6 class="futura-bold product-card-name">{{ recommendation.title }}</h6>
                    
                    <div class="product-card-details">
                        <p class="product-price neue-kabel-book-italic">
                            <span class="futura-book price-amount">$600.00</span>
                        </p>
                    </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <!-- END Swiper -->
{% endif %}

</product-recommendations>


{% comment %} <link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link
  rel="stylesheet"
  href="{{ 'section-related-products.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%} 

 <div class="color-{{ section.settings.color_scheme }} gradient no-js-hidden">
  <product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <h2 class="related-products__heading {{ section.settings.heading_size }}">
        {{ section.settings.heading | escape }}
      </h2>
      <ul
        class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down"
        role="list"
      >
        {% for recommendation in recommendations.products %}
          <li class="grid__item">
            {% render 'card-product',
              card_product: recommendation,
              media_aspect_ratio: section.settings.image_ratio,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating
            %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </product-recommendations>
</div>  {% endcomment %}

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section related-products",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.related-products.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.related-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.related-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.related-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.related-products.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.related-products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.related-products.settings.show_rating.label",
      "info": "t:sections.related-products.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.related-products.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.related-products.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.related-products.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
