<div class="content">
    <div class="klaviyo-form-UGUDiS"></div>
  
    <!-- Klaviyo Simple Embed Code -->
    <div class="form-wrapper col2-form-wrapper">
        <div class="klaviyo-form-UGUDiS klaviyo-form form-version-cid-2"><div class="needsclick  kl-private-reset-css-Xuajs1" style="transform: translate(0px, 0px);"><form class="needsclick klaviyo-form klaviyo-form-version-cid_2 kl-private-reset-css-Xuajs1" data-testid="klaviyo-form-UGUDiS" novalidate="" tabindex="-1" style="display: flex; flex-direction: row; box-sizing: border-box; width: 100%; overflow: visible; float: left; border-radius: 0px; border-style: none; border-width: 0px; border-color: rgb(0, 0, 0); background-color: rgb(231, 228, 218); background-repeat: no-repeat; background-position-y: 50%; padding: 30px; flex: 1 1 0%;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: column; width: 100%; margin: 0px; padding: 0px; min-height: 650px; justify-content: center;"><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px; position: relative; flex: 1 0 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;"><label id="label-first_name_65295716" for="first_name_65295716" class="needsclick  kl-private-reset-css-Xuajs1" style="color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;">First Name*</label><input id="first_name_65295716" class="needsclick go3416605881 kl-private-reset-css-Xuajs1" type="text" autocomplete="given-name" tabindex="0" placeholder="" aria-labelledby="label-first_name_65295716" aria-invalid="false" options="[object Object]" style="box-sizing: border-box; border-radius: 0px; padding: 0px 0px 0px 16px; height: 50px; text-align: left; color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; background-color: rgba(255, 255, 255, 0); border: 1px solid rgb(191, 190, 184);"><div class="needsclick  kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px; position: relative; flex: 1 0 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;"><label id="label-last_name_65295717" for="last_name_65295717" class="needsclick  kl-private-reset-css-Xuajs1" style="color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;">Last Name*</label><input id="last_name_65295717" class="needsclick go3416605881 kl-private-reset-css-Xuajs1" type="text" autocomplete="family-name" tabindex="0" placeholder="" aria-labelledby="label-last_name_65295717" aria-invalid="false" options="[object Object]" style="box-sizing: border-box; border-radius: 0px; padding: 0px 0px 0px 16px; height: 50px; text-align: left; color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; background-color: rgba(255, 255, 255, 0); border: 1px solid rgb(191, 190, 184);"><div class="needsclick  kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px; position: relative; flex: 1 0 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;"><label id="label-email_65295718" for="email_65295718" class="needsclick  kl-private-reset-css-Xuajs1" style="color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;">Email*</label><input id="email_65295718" class="needsclick go3416605881 kl-private-reset-css-Xuajs1" type="email" autocomplete="email" name="email" tabindex="0" placeholder="" aria-labelledby="label-email_65295718" aria-invalid="false" options="[object Object]" style="box-sizing: border-box; border-radius: 0px; padding: 0px 0px 0px 16px; height: 50px; text-align: left; color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; background-color: rgba(255, 255, 255, 0); border: 1px solid rgb(191, 190, 184);"><div class="needsclick  kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px; position: relative; flex: 1 0 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;"><label for="phone_number_65295719" class="needsclick  kl-private-reset-css-Xuajs1" style="color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;">Phone Number*</label><div class="needsclick go639680832 kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: center; box-sizing: border-box; border-radius: 0px; padding: 0px; height: 50px; text-align: left; font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; background-color: rgba(255, 255, 255, 0); border: 1px solid rgb(191, 190, 184);"><button class="needsclick go1128678653 kl-private-reset-css-Xuajs1" aria-label="Search Countries" type="button" role="combobox" aria-haspopup="listbox" aria-expanded="false" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; box-sizing: border-box; border: 1px solid rgba(0, 0, 0, 0); width: 72px; height: 50px; cursor: pointer; padding-left: 10px; margin-right: 5px;"><img aria-label="United States" title="United States" src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.4/flags/4x3/us.svg" style="display: inline-block; width: 1em; height: 1em; vertical-align: middle; border-radius: 3px;"><svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="" transform="" style="fill: rgb(191, 190, 184);"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg></button><input type="tel" data-testid="phoneNumberInput" id="phone_number_65295719" autocomplete="tel" name="phone-number" tabindex="0" placeholder="" aria-label="Phone Number*" aria-invalid="false" class="needsclick undefined kl-private-reset-css-Xuajs1" style="border: none; text-align: left; color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; background-color: rgba(0, 0, 0, 0); flex-grow: 1;"></div><div class="needsclick  kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px; position: relative; flex: 1 0 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;"><label id="label-Order_Number_65295720" for="Order_Number_65295720" class="needsclick  kl-private-reset-css-Xuajs1" style="color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;">Order Number*</label><input id="Order_Number_65295720" class="needsclick go3416605881 kl-private-reset-css-Xuajs1" type="text" tabindex="0" placeholder="" aria-labelledby="label-Order_Number_65295720" aria-invalid="false" options="[object Object]" style="box-sizing: border-box; border-radius: 0px; padding: 0px 0px 0px 16px; height: 50px; text-align: left; color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; background-color: rgba(255, 255, 255, 0); border: 1px solid rgb(191, 190, 184);"><div class="needsclick  kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 10px 0px 20px; position: relative; flex: 1 0 0px;"><div class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-grow: 1; flex-direction: column; align-self: flex-end;"><label id="label-Reason_for_Return_65295721" for="Reason_for_Return_65295721" class="needsclick  kl-private-reset-css-Xuajs1" style="color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 700; letter-spacing: 0px; padding-bottom: 6px;">Reason for Return*</label><input id="Reason_for_Return_65295721" class="needsclick go3416605881 kl-private-reset-css-Xuajs1" type="text" tabindex="0" placeholder="" aria-labelledby="label-Reason_for_Return_65295721" aria-invalid="false" options="[object Object]" style="box-sizing: border-box; border-radius: 0px; padding: 0px 0px 0px 16px; height: 50px; text-align: left; color: rgb(29, 29, 29); font-family: futura-pt, &quot;Century Gothic&quot;, CenturyGothic, AppleGothic, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; background-color: rgba(255, 255, 255, 0); border: 1px solid rgb(191, 190, 184);"><div class="needsclick  kl-private-reset-css-Xuajs1" style="width: 100%; position: relative;"></div></div></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"><div component="[object Object]" data-testid="form-component" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; justify-content: flex-start; padding: 8px 30px; position: relative; background-color: rgb(29, 29, 29); flex: 0 1 auto;"><button class="needsclick go717997462 kl-private-reset-css-Xuajs1" type="button" tabindex="0" style="background: rgb(29, 29, 29); border-radius: 0px; border-style: none; border-color: rgb(0, 0, 0); border-width: 2px; color: rgb(255, 255, 255); font-family: &quot;Yanone Kaffeesatz&quot;, Tahoma, Verdana, Segoe, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; line-height: 1; white-space: normal; padding: 0px 10px; text-align: center; word-break: break-word; align-self: flex-end; cursor: pointer; height: 30px;">SUBMIT →</button></div></div><div data-testid="form-row" class="needsclick  kl-private-reset-css-Xuajs1" style="display: flex; flex-direction: row; align-items: stretch; position: relative;"></div></div><input type="submit" tabindex="-1" value="Submit" style="display: none;"></form></div></div>
        
       
    
      <div class="site-block">
        <div class="text-center">
            {{ section.settings.before_text }}
            <br />
            {% if section.settings.address != blank %}
            <div class="adddess-block">
            {{ section.settings.address }}
            </div>
            {% endif %}
            <br />
            {{ section.settings.after_text }}
        </div>
        {% if section.settings.show_store_hours %}
        <div class="hours hours-block">
          <div class="hours-title">Store Hours</div>
            <div class="hour"><p>Monday</p> <p>8am-6pm</p></div>
            <div class="hour"><p>Tuesday</p> <p>8am-6pm</p></div>
            <div class="hour"><p>Wednesday</p> <p>8am-6pm</p></div>
            <div class="hour"><p>Thursday</p> <p>8am-6pm</p></div>
            <div class="hour"><p>Friday</p> <p>8am-6pm</p></div>
            <div class="hour"><p>Saturday</p> <p>9am-5pm</p></div>
            <div class="hour"><p>Sunday</p> <p>9am-5pm</p></div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  
  {{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
  
  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
  
  {% comment %} 
    <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
      {%- if section.settings.heading != blank -%}
        <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">
          {{ section.settings.heading | escape }}
        </h2>
      {%- else -%}
        <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
      {%- endif -%}
      {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
        {%- if form.posted_successfully? -%}
          <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %}
            {{ 'templates.contact.form.post_success' | t }}
          </h2>
        {%- elsif form.errors -%}
          <div class="form__message">
            <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
              {% render 'icon-error' %}
              {{ 'templates.contact.form.error_heading' | t }}
            </h2>
          </div>
          <ul class="form-status-list caption-large" role="list">
            <li>
              <a href="#ContactForm-email" class="link">
                {{ form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}
              </a>
            </li>
          </ul>
        {%- endif -%}
        <div class="contact__fields">
          <div class="field">
            <input
              class="field__input"
              autocomplete="name"
              type="text"
              id="ContactForm-name"
              name="contact[{{ 'templates.contact.form.name' | t }}]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              placeholder="{{ 'templates.contact.form.name' | t }}"
            >
            <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
          </div>
          <div class="field field--with-error">
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              class="field__input"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            <label class="field__label" for="ContactForm-email">
              {{- 'templates.contact.form.email' | t }}
              <span aria-hidden="true">*</span></label
            >
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </span>
              </small>
            {%- endif -%}
          </div>
        </div>
        <div class="field">
          <input
            type="tel"
            id="ContactForm-phone"
            class="field__input"
            autocomplete="tel"
            name="contact[{{ 'templates.contact.form.phone' | t }}]"
            pattern="[0-9\-]*"
            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            placeholder="{{ 'templates.contact.form.phone' | t }}"
          >
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>
        <div class="field">
          <textarea
            rows="10"
            id="ContactForm-body"
            class="text-area field__input"
            name="contact[{{ 'templates.contact.form.comment' | t }}]"
            placeholder="{{ 'templates.contact.form.comment' | t }}"
          >
            {{- form.body -}}
          </textarea>
          <label class="form__label field__label" for="ContactForm-body">
            {{- 'templates.contact.form.comment' | t -}}
          </label>
        </div>
        <div class="contact__button">
          <button type="submit" class="button">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
      {%- endform -%}
    </div> {% endcomment %}
  
  
  {% schema %}
  {
    "name": "Returns Form",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "richtext",
        "id": "before_text",
        "label": "Before Text"
      },
      {
        "type": "richtext",
        "id": "address",
        "label": "Address"
      },
      {
        "type": "richtext",
        "id": "after_text",
        "label": "After Text"
      },
      {
        "type": "checkbox",
        "id": "show_store_hours",
        "default": false,
        "label": "Show Store Hours"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Returns Form"
      }
    ]
  }
  {% endschema %}
  